div(class="newsletter container pb-80")
  div(id="mc_embed_signup")
    h3(class="text-center") Grow with us.
    form(class="form-contact contact_form"
      action="https://HybridATX.us18.list-manage.com/subscribe/post?u=0782e3d46b914bc84ecd04264&amp;id=d029017520"
      method="post" 
      id="mc-embedded-subscribe-form" 
      name="mc-embedded-subscribe-form" 
      class="validate" 
      target="_blank" 
      novalidate)
      div(id="mc_embed_signup_scroll" class="row d-flex align-items-center justify-content-center")
        div(class="col-lg-3")
          input(
            type="email" 
            value="" 
            name="EMAIL" 
            class="email form-control" 
            id="mce-EMAIL" 
            placeholder="Your email" 
            required)
          div(style="position: absolute; left: -5000px;" aria-hidden="true")
            input(type="text" 
              name="b_0782e3d46b914bc84ecd04264_d029017520" 
              tabindex="-1" 
              value="")
        div(class="col-lg-2")
          input( 
            type="submit" 
            value="Submit" 
            name="submit" 
            id="mc-embedded-subscribe" 
            class="button button-contactForm boxed-btn")